<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-calllistener" version="1.2.9" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CallListener</name>
    <js-module name="CallListener" src="www/CallListener.js">
        <clobbers target="CallListener" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CallListener">
                <param name="android-package" value="org.apache.cordova.calllistener.CallListener"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/CallListener.java" target-dir="src/org/apache/cordova/calllistener" />
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CALL_PHONE" />
            <uses-permission android:name="android.permission.READ_CALL_LOG" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
        </config-file>
        <framework src="com.tbruyelle.rxpermissions:rxpermissions:0.9.4@aar" />
        <framework src="io.reactivex:rxjava:1.2.0" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CallListener">
                <param name="ios-package" value="SYCallListener"/>
            </feature>
        </config-file>

        <header-file src="src/ios/SYCallListener.h" />
        <source-file src="src/ios/SYCallListener.m" />
    </platform>  

</plugin>
